<h1>New Recipe Details</h1>

<h3>Categories:</h3>
<p>1---Dessert</p>
<p>2---Breakfast</p>
<p>3---Lunch</p>
<p>4---Dinner</p>
<p>5---Snack</p>

<ul>
  
<li><form action="/do_stuff" method="get">
Category:<input type="text" name="new_recipe">
<input type="submit" value="Submit">
</form></li>

<li><form action="/do_stuff" method="get">
Recipe Description:<input type="text" name="new_recipe">
<input type="submit" value="Submit">
</form></li>

</ul>
